.receiveChat {
    background-color: #17a2769e;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 450;
}
.sentChat {
    border: 1px solid #6fc5aa;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    background-color: #6fc5aa12;
    font-weight: 400;
    font-size: 14px;
}